# **Data Types and Structures Theoritical Questions**

Q1. What are data structures, and why are they important?

- Data structures are specialized formats for organizing, storing, and accessing collections of data.

 They are important because:
- Choosing the right data structure significantly impacts the efficiency and performance of program.
-Well-chosen data structures can:
-Simplify data manipulation (adding, removing, modifying elements)
-Optimize searching and sorting operations
-Conserve memory usage

 **Q2. Explain the difference between mutable and immutable data types with examples?**

In Python, mutable data types can be modified after creation, while immutable data types cannot.

- Lists, dictionaries, and sets are mutable, meaning their contents can be changed.
-Strings and tuples are immutable, meaning they cannot be changed once created

**Q3. What are the main differences between lists and tuples in Python?**

The main differences between lists and tuples in Python are-
- Lists are mutable: Their elements can be changed, added, or removed after creation.
- Lists are defined using square brackets [].

- Tuples are immutable: Once created, their elements cannot be changed, added, or removed.
- Tuples are defined using parentheses ()

**Q4. Describe how dictionaries store data?**

- Dictionaries are unordered collections of data and are represented with curly brackets { } .
- Like lists, dictionaries are mutable(changeable) and indexed.
- With dictionaries, data is stored in a key:value format.

**Q5. Why might you use a set instead of a list in Python?**

Set might be used instead of a list in Python because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

**Q6. What is a string in Python, and how is it different from a list?**

A string is a sequence of characters between single or double quotes.

A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

Q7. How do tuples ensure data integrity in Python?

Tuples in Python ensure data integrity primarily through their immutability. This fundamental characteristic means that once a tuple is created, its elements cannot be changed, added, or removed.

**Q8. What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is a collection of associated pairs of items where each pair consists of a key and a value. Hash tables are often called the more general term map because the associated hash function “maps” the key to the value.

When a key-value pair is inserted, the hash function calculates an index for the key, and the value is stored at that location. When retrieving a value, the same hash function is applied to the key to quickly locate its corresponding value.

Q9. Can lists contain different data types in Python?

Yes, lists in Python can contain elements of different data types. This characteristic makes Python lists highly versatile and flexible.

**Q10. Explain why strings are immutable in Python?**

If the string object can be modified, its value can be changed, and because of this, the class that will be loaded will be different. To avoid such misinterpretation, strings are immutable.

**Q11. What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries in Python offer fast data retrieval, unlike lists where we have to traverse through each element to find a value.
Dictionaries use hash tables for quick access to values based on keys.

Q12. Describe a scenario where using a tuple would be preferable over a list?

List can be used if we need a mutable collection of items where we may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections. Tuple can be used if we need an immutable collection where the elements won't change after creation.

**Q13. How do sets handle duplicate values in Python?**

Python's set data type inherently manages duplicate values by disallowing them. When attempting to add an element that already exists within a set, the set remains unchanged, and the duplicate element is not added. This characteristic aligns with the mathematical definition of a set, which is an unordered collection of unique elements.

**Q14. How does the “in” keyword work differently for lists and dictionaries?**

The "in" keyword can be used to test whether certain value present in a list.

The "in" keyword in Python serves two primary purposes:
- Membership Testing: To check if a value exists in a sequence.
- Iteration: To iterate through elements of a sequence in a for loop.

Q15.  Can you modify the elements of a tuple? Explain why or why not?

No, we cannot directly modify the elements of a Python tuple. Tuples are immutable, meaning their contents cannot be changed after creation. This is a fundamental characteristic of tuples, differentiating them from lists which are mutable.

Q16. What is a nested dictionary, and give an example of its use case?

A nested dictionary in Python is a dictionary that contains other dictionaries as its values. Essentially, it's a dictionary within a dictionary.

Example: This example creates a nested dictionary to store details of multiple students. Each student is added as a key and their information (name, age, grade) is stored in an inner dictionary.

**Q17. Describe the time complexity of accessing elements in a dictionary.**

Accessing elements in a dictionary (or hash table) typically has a time complexity of O(1) on average. This means that the time it takes to retrieve a value by its key is, on average, constant and doesn't depend on the size of the dictionary.

However, in the worst-case scenario (which is rare), the time complexity can be O(n), where n is the number of elements in the dictionary, due to hash collisions.

Q18. In what situations are lists preferred over dictionaries?

Lists are faster for index-based access, whereas dictionary lookups require computing a hash. Dictionaries require more memory, as they store keys along with values, unlike lists.

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. Dictionaries are optimized to retrieve values when the key is known

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# **Practical Questions**

Q1. Write a code to create a string with your name and print it.

In [4]:
name = input("Enter your name: ")
print("My name is", name)

Enter your name: Aastha
My name is Aastha

In [5]:
name = "Aastha"
print("My name is", name)

My name is Aastha

**Q2. Write a code to find the length of the string "Hello World".**

In [6]:
string = "Hello World"
print(len(string))

11

**Q3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [10]:
string = "Python Programming"
slicing = string[:3]
print(slicing)

Pyt

**Q4. Write a code to convert the string "hello" to uppercase.**

In [11]:
a = "hello"
print(a.upper())

HELLO

**Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [13]:
b = "I like apple"
print(b)

I like apple

In [15]:
b.replace("apple", "orange")

'I like orange'

**Q6. Write a code to create a list with numbers 1 to 5 and print it.**

In [29]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [31]:
lis = list(range(1,6))
print(lis)

[1, 2, 3, 4, 5]

In [32]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

**Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [34]:
lists = [1,2,3,4]
lists.append(10)
print(lists)

[1, 2, 3, 4, 10]

**Q8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [35]:
d = [1,2,3,4,5]
d.remove(3)
print(d)

[1, 2, 4, 5]

**Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [37]:
elements = ['a', 'b', 'c', 'd']
elements[1]

'b'

**Q10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [42]:
e = [10, 20, 30, 40, 50]
e.reverse()
print(e)

[50, 40, 30, 20, 10]

**Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [47]:
tuples = (100,200,300)
print(tuples)

(100, 200, 300)

In [45]:
type(tuples)

tuple

**Q12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [50]:
tuple_1 = ('red', 'green', 'blue', 'yellow')
tuple_1[2]

'blue'

**Q13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [53]:
tuple_2 = min(10, 20, 5, 15)
print(tuple_2)

5

**Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [69]:
tuple_3 = ('dog', 'cat', 'rabbit')
index = tuple_3.index("cat")
print("The index of the element 'cat' is", index)

The index of the element 'cat' is 1

**Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [73]:
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
  print("Kiwi is in the fruits")
else:
  print("Kiwi is not in the fruits")

Kiwi is in the fruits

**Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [76]:
sets = {'a', 'b', 'c'}
print(sets)

{'a', 'b', 'c'}

In [77]:
type(sets)

set

**Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [85]:
set_1 = {1, 2, 3, 4, 5}
print(type(set_1))
print(set_1)

<class 'set'>
{1, 2, 3, 4, 5}

In [82]:
set_1.clear()

**Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [87]:
set_2 =  {1, 2, 3, 4}
set_2.remove(4)
print(set_2)

{1, 2, 3}

**Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [90]:
set_3 = {1, 2, 3}
set_4 = {3, 4, 5}
result = set_3.union(set_4)
print(result)

{1, 2, 3, 4, 5}

**Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [91]:
set_5 =  {1, 2, 3}
set_6 =  {2, 3, 4}
results = set_5.intersection(set_6)
print(results)

{2, 3}

**Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [94]:
dic = {
    "name" : "Aastha",
    "age" : 20,
    "city" : "ggn"
}
print(dic)

{'name': 'Aastha', 'age': 20, 'city': 'ggn'}

**Q22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [107]:
dic_1 = {
    "name" : "John",
    "age" : 25
}
dic_1["country"] = "USA"
print(dic_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

**Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [113]:
dic_2 = {
    "name" : "Aastha",
    "age" : 25
}
print(dic_2)

{'name': 'Aastha', 'age': 25}

In [114]:
dic_2["name"]

'Aastha'

**Q24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [123]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

**Q25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [125]:
dictionary = {'name': 'Alice', 'city': 'Paris'}
if "city" in dictionary:
  print("Key 'city' exist in the dictionary")
else:
  print("Key 'city' does not exist in the dictionary")

Key 'city' exist in the dictionary

**Q26.  Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [128]:
listsss = [1,2,3]
tupless = (1,2,3)
dictionaryy = {"name" : "aastha", "age" : 22}
print(type(listsss), listsss)
print(type(tupless), tupless)
print(type(dictionaryy), dictionaryy)

<class 'list'> [1, 2, 3]
<class 'tuple'> (1, 2, 3)
<class 'dict'> {'name': 'aastha', 'age': 22}

**Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result** **.(replaced)**

In [130]:
import random

# Generate 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[9, 24, 64, 66, 77]

**Q28. Write a code to create a list with strings and print the element at the third index.**

In [140]:
variable = ["aastha", "atharav", "bipasha", "rahul", "yash"]
variable[3]

'rahul'

**Q29. Write a code to combine two dictionaries into one and print the result.**

In [149]:
data_1 = {'name': 'aastha', 'age': 22, 'city': 'New York'}
data_2 = {'age': 24, 'city': 'Paris'}
resultss = data_1.update(data_2)
print(resultss)

None

In [148]:
data_1 = {'name': 'aastha', 'age': 22}
data_2 = {'score': 45, 'city': 'Paris'}
resultss = {**data_1, **data_2}
print(resultss)

{'name': 'aastha', 'age': 22, 'score': 45, 'city': 'Paris'}

**Q30. Write a code to convert a list of strings into a set.**

In [151]:
variable_1 = ["aastha", "atharav", "bipasha", "rahul", "yash"]
changed = set(variable_1)
print(changed)

{'yash', 'aastha', 'bipasha', 'rahul', 'atharav'}

In [153]:
type(changed)

set