# **Python Theory Questions**

**Q1. What is Python, and why is it popular ?**

- Pyhton is a programming language that is easy to understand and write, making it a popular choice among developers and programmers.
-It is a popular and most commomly used programming language because of its simplicity and an extensive standard library.

**Q2. What is an interpreter in Python ?**

![image.png]()

In Python, an interpreter is a program that executes Python code directly, line by line, rather than compiling the entire code into machine code at once.

(Remark- In Python, both compilers and interpreters play a role in the execution of code, but they do so in different ways.
- The compiler translates the source code into bytecode, an intermediate representation that is then passed to the interpreter
- The Python interpreter reads the bytecode (generated by the compiler) and executes it, line by line. )

**Q3. What are pre-defined keywords in Python ?**

- Keywords are reserved words in Python that have special meanings and cannot be used as identifiers.
- Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc.
- Keywords are case-sensitive.

**Q4. Can keywords be used as variable names ?**
- No, keywords are not used as variable names because it is case-sensitive.

**Q5. What is mutability in Python ?**

- Mutability means changes and modification after the creation.
- Eg- lists and dictionaries

**Q6. Why are lists mutable, but tuples are immutable ?**

- Lists are mutable because changes and modification can be done in the items but in tuples no modifucation can be done in the items that's why tuple is immutable.
- Items in the lists are represented by square brackets whereas in tuples it is represented by parentheses.

**Q7. What is the difference between “==” and “is” operators in Python ?**

- In Python, the "==" operator is for comparison operator. It is used to check if two objects have the same value.
- In Python, the "is" operator is for identity operator. It is used to check if two variables refer to the same object instance in memory.

**Q8. What are logical operators in Python ?**

- Logical operators in Python combine two or more operands and conduct logical comparisons on them.
- There are three types, i.e., AND, OR, and NOT.
- They return a boolean value, i.e., True or False.

**Q9. What is type casting in Python ?**

- Type casting, also referred to as type conversion, is the process of changing one data type to another in Python.

**Q10.  What is the difference between implicit and explicit type casting ?**

- Implicit casting, also called automatic type conversion, is done automatically by the compiler when different data types are mixed in an expression.
- Explicit casting, or type casting, is performed manually by the programmer by explicitly specifying the desired data type.

**Q11. What is the purpose of conditional statements in Python ?**

- Conditional statements, also known as if statements, are used to execute code blocks based on whether a given condition is true or false.

**Q12. How does the elif statement work ?**

- Elif can be used in conditional statements to check for multiple conditions.

**Q13. What is the difference between for and while loops ?**

- for loops are typically used when we know the number of iterations beforehand.
- while loops are used when the number of iterations is determined by a condition.

**Q14. Describe a scenario where a while loop is more suitable than a for loop.**

- while' loop is ideal for situations where the number of iterations is not predetermined and depends on some dynamic condition.

# **Practical Questions**

**Q1. Write a Python program to print "Hello, World!"**

In [2]:
print("Hello World!")

Hello World!

In [5]:
"Hello World!"

'Hello World!'

In [7]:
print(f"Hello World!")

Hello World!

**Q2. Write a Python program that displays your name and age ?**

In [8]:
Name = "Aastha Yadav"
Age = 20
print(Name)
print(Age)

Aastha Yadav
20

**Q3. Write code to print all the pre-defined keywords in Python using the keyword library ?**

In [15]:
import keyword

keywords_list = keyword.kwlist
print("The list of Python keywords is:", keywords_list)

The list of Python keywords is: ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

**Q4. Write a program that checks if a given word is a Python keyword.**

In [22]:
import keyword

word = input("enter a keyword : ")
if word in keyword.kwlist:
  print("This is a keyword")
else:
  print("This is not a keyword")

enter keyword : true
This is not a keyword

**Q5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.**

In [41]:
# FOR LIST:
List = [10, 20, 30, 40]
print(List)

[10, 20, 30, 40]

In [43]:
List[1] = 50
print(List)

[10, 50, 30, 40]

In [48]:
# Eg 2
list_1 = ["apple", "banana", "grapes"]
print(list_1)

['apple', 'banana', 'grapes']

In [49]:
list_1[2] = ("cherry")
print(list_1)

['apple', 'banana', 'cherry']

In [36]:
# FOR TUPLE:
Tuple = {"Apple", "Banana", "Cherry", "Grapes"}
print(Tuple)

{'Cherry', 'Apple', 'Grapes', 'Banana'}

In [50]:
Tuple[1] = ("Orange")
print(Tuple) # WILL SHOW ERROR as it is immutable.

TypeError: 'set' object does not support item assignment

**Q6. Write a function to demonstrate the behavior of mutable and immutable arguments.**

In [2]:
def change(a, b):
    a = a + 10
    b.append(100)
x = 5
lst = [1, 2, 3]
change(x, lst)
print(x)     #immutable
print(lst)  #mutable

5
[1, 2, 3, 100]

**Q7. Write a program that performs basic arithmetic operations on two user-input numbers ?**

In [4]:
num_1 = int(input("Enter first number : "))
num_2 = int(input("Enter second number : "))

sum = (num_1 + num_2)
difference = (num_1 - num_2)
product = (num_1 * num_2)
division = (num_1 / num_2)

print("The sum of two numbers :", sum)
print("The difference of two numbers :", difference)
print("The product of two numbers :", product)
print("The division of two numbers :", division)

Enter first number : 10
Enter second number : 5
The sum of two numbers : 15
The difference of two numbers : 5
The product of two numbers : 50
The division of two numbers : 2.0

**Q8. Write a program to demonstrate the use of logical operators ?**

In [3]:
a = True
b = False
print(a and b) #and operator
print(a or b) #or operator
print(not a) #not operator

False
True
False

**Q9. Write a Python program to convert user input from string to integer, float, and boolean types.**

In [4]:
user_input = input("enter a number: ")
a = int(user_input)
b = float(user_input)
c = bool(user_input)
print(a)
print(b)
print(c)

enter a number: 25
25
25.0
True

**Q10. Write code to demonstrate type casting with list elements.**

In [5]:
#type casting list element a float element in the list convert into integer
a_list = ["car", "bike", 100 , 2.5, 25]
a_list[3] = int(a_list[3])
print(a_list[3])

2

**Q11. Write a program that checks if a number is positive, negative, or zero.**

In [56]:
num = int(input("Enter an integer : "))

if num > 0 :
  print("The number is a positive number.")
elif num < 0 :
  print("The number is a negative number.")
else:
  print("The number is a zero number.")

Enter an integer : -45
The number is a negative number.

**Q12. Write a for loop to print numbers from 1 to 10.**

In [58]:
for i in range(1, 11):
   print(i)

1
2
3
4
5
6
7
8
9
10

 **Q13. Write a Python program to find the sum of all even numbers between 1 and 50**.

In [8]:
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [9]:
total_sum = 0
for number in range(2, 51, 2):
    total_sum += number
print(f"The sum of all even numbers between 1 and 50 is: {total_sum}")

The sum of all even numbers between 1 and 50 is: 650

 **Q14. Write a program to reverse a string using a while loop.**

In [1]:
reverse = input("enter a string: ")
while reverse:
    print(reverse[-1])
    reverse = reverse[:-1]

enter a string: Aastha
a
h
t
s
a
A

**Q15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.**

In [67]:
n = int(input("Enter a number : "))
fact = 1
i = 1
while i <= n :
  fact *= i
  i += 1

print("The factorial of", n ,"=", fact)

Enter a number : 3
The factorial of 3 = 6